[Locations]

# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./previous_bot.py
requirements_file = ./requirements.txt

# Name of the bot in-game
name = RIVAL V1.PREVIOUS

# The maximum number of ticks per second that your bot wishes to receive.
maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Jueferu

# Short description of the bot
description = The bot that keeps it cool and plays it sharp.

# Programming language
language = rlgym-ppo

tags = 4v4